<div class="sml-col-12">
    <h2>Calendar</h2>
    <ul class="evt-calendar">
        {{#each meetupevents}}
            <li>
                <div class="event-time">Date:{{this.time}}</div>
                <div class="event-title"><a href="{{this.event_url}}">{{this.name}}</a></div>
                <div class="event-description">{{{this.description}}}</div>
            </li>
        {{/each}}
    </ul>
</div>
