<div class="container">

	<div class="row>"

		<div class="col-md-12">

			<h3>{{ title }}</h3>
			<h4>{{ error }}</h4>
			
			<hr>

			<p>
				Sorry, something's wrong with our server.
			</p>
			<p>
				If the problem keeps happening, please let <a href="http://twitter.com.codepope">@codepope</a> know about it.
			</p>
			<br>
			<p>
				<a class="btn btn-primary btn-lg" href="/home" role="button">Return to home page</a>
			</p>

		</div>

	</div>

</div>
