<div class="container">
  <div class="row">

    <div class="col-md-9">
      <h1>About HackWimbledon</h1>
      <p><b>TL;DR</b>: <span class="brandname">HackWimbledon</span> is a pop-up hack space for makers and creators, held in Wimbledon and hosted by WimbleTech.</p>
      <p>They say the future is in the hands of the makers, the creators. Hackers are the digital makers and creators and they now have a whole range of new tools to build things with from tiny electronics to minicomputers, from Raspberry Pis to Arduinos
        and many others you won’t have heard of.</p>
      <p>They are all out there ready to be wired into whatever you want them to be and programmed to make them do what you want them to do. But where do you start if you want to make a web-connected thermometer, a simple robot, an energy saving light or
        a weather aware window?</p>
    </div>
    <div class="col-md-3">
      <img style="img-responsive center-block" src="/img/hackws256transp.png"></img>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    <p>This is what <span class="brandname">HackWimbledon</span> wants to illuminate. HackWimbledon meets up every other Saturday @ Wimbletech, in Wimbledon library (5 minutes Wimbledon station, a home for startups and coworkers in Merton!). HackWimbledon runs from 11am to 4pm. If you
      want to take part, turn up. If you want to hack, bring a laptop.</p>
    <p>Our resident curator, <a href="http://twitter.com.codepope">@codepope</a>, is always on hand to show the various gadgets you can bend to your will. We’ll have some boards to play with and assistance to get you going. Each meeting has a challenge for
      new and experienced hackers, a curators corner with something interesting being built or programmed and, of course, space for you to work on your own project in a supportive and fun environment.</p>
    <p><span class="brandname">HackWimbledon</span> aims to support you and the hacking and creating community. So come along and join in - you too can make, create and illuminate at HackWimbledon!</p>
    <p>We currently use Meetup to handle announcing events and getting people to RSVP before hand. </p>
    <a href="http://meetup.com/hackwimbledon"><button class="button btn-primary btn-lg">Go to Meetup to Signup</button></a>
  </div>
  </div>
</div>
