<div class="container about-container">
  	<div class="row">
    	<div class="col-md-9">
      		<h1>About HackWimbledon</h1>
      		<p><b>TL;DR</b>: <span class="brandname">HackWimbledon</span> is a pop-up hack space for makers and creators, held in Wimbledon and hosted by Wimbletech.</p>
      		<p>They say the future is in the hands of the makers, the creators. Hackers are the digital makers and creators and they now have a whole range of new tools to build things with from tiny electronics to minicomputers, from Raspberry Pis to Arduinos
        	and many others you won’t have heard of.</p>
      		<p>They are all out there ready to be wired into whatever you want them to be and programmed to make them do what you want them to do. But where do you start if you want to make a web-connected thermometer, a simple robot, an energy saving light or a weather aware window?</p>
    	</div>
    	<div class="col-md-3">
      		<img class="img-responsive center-block" src="/img/hackws256transp.png"></img>
    	</div>
  	</div>
  	<div class="row">
    	<div class="col-md-12">
	    	<p>This is what <span class="brandname">HackWimbledon</span> wants to illuminate. <span class="brandname">HackWimbledon</span> meets up every other Saturday @ Wimbletech, in MAE Wimbledon "behind" Wimbledon library and 5 minutes from Wimbledon station. Wimbletech is a home for startups and coworkers in Merton and provides the space for <span class="brandname">HackWimbledon</span>.
	    	<p><span class="brandname">HackWimbledon</span> runs from 12pm to 6pm. If you want to take part, turn up. If you want to hack, bring a laptop and anything else your project needs - we have some tools and equipment if needed.</p>
	    	<p>Our resident curator, <a href="http://twitter.com/codepope">@codepope</a>, is always on hand to show the various gadgets you can bend to your will. We have some Arduino boards to play with and assistance to get you going. Each meeting has a theme for
	      	new and experienced hackers to work around, a curators corner with something interesting being built or programmed and, of course, space for you to work on your own project in a supportive and fun environment.</p>
	    	<p><span class="brandname">HackWimbledon</span> aims to support you and the hacking and creating community. So come along and join in - you too can make, create and illuminate at <span class="brandname">HackWimbledon</span>!</p>
	    	<p>We currently use Meetup to handle announcing events and getting people to RSVP before hand. </p>
	    	<a href="http://meetup.com/hackwimbledon"><button class="button btn-primary btn-lg">Go to Meetup to sign up</button></a>
  		</div>
  	</div>
	<div class="col-md-12">
		<p>As our regular reminder, HackWimbledon is all about making, creating and sharing in a friendly environment and we're dedicated to making it work so people never feel uncomfortable, in whatever way, or unable to concentrate on their projects. That also means we want you to be working on your projects too or actively working with others on a project. We'll be making sure that this principle is maintained because it's what HackWimbledon is all about. If there's a problem, please talk with the organiser.</p>
	</div>	
</div>
