<div class="container">
<h1>Chat</h1>
<p>Some text here to explain about Slack and encourage people to sign up<p>
<p>Some text here to explain about Slack and encourage people to sign up<p>
<p>Some text here to explain about Slack and encourage people to sign up<p>
<p>Some text here to explain about Slack and encourage people to sign up<p>

<h3>Join the HackWimbledon community on Slack</h3>

<div class="panel panel-default">
<div class="panel-body">

<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Enter your email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  <button type="submit" class="btn btn-default">Request invitation</button>
</form>
</div>
</div>
</div>
