<div class="container events-container">

    <div class="row">

        <div class="col-md-12">

            <h1>Events</h1>

            <p>
                Sing unlawfully like a dead whale.Lord, yellow fever!
                Strength is a coal-black sea-dog.
                The wind whines beauty like an old cockroach.
            </p>

        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            {{> widget_calendar}}
        </div>

    </div>

    </div>

</div>
