<div class="container">
<h1>Events</h1>
<p>Excuse our dust while we work on the API-aware code for this page. If you want to find
  out what events are currently planned pop over to <a href="http://www.meetup.com/hackwimbledon/">
    www.meetup.com/hackwimbledon</a> where the latest available details are shown.
</div>
