<div class="container">
<h1>Events</h1>
<div>
    <div class="col-md-3 col-sml-12">
    {{> widget_meetup}}
    </div>

    <div class="col-md-8 col-sml-12">
        {{> widget_calendar}}
    </div>
</div>
</div>


