<div class="container events-wrapper">

    <div class="row">

        <div class="col-md-12">

            <h1>Events</h1>

            <p>
                You can find all the details of our future and recent events on this page.
            </p>
            <p>
                We use Meetup to handle announcing events and getting people to RSVP before hand.
                It's free to sign up and you will be the first to hear about new events.
            </p>
            <a href="http://meetup.com/hackwimbledon"><button class="button btn-primary btn-lg">Go to Meetup to sign up</button></a>
            <br><br><br>

        </div>

    </div>

    <div class="row">

        <div class="col-md-12">

            <h3>Next event</h3>
            {{> widget_calendar_current}}

            <h3>Future events</h3>
            {{> widget_calendar_future}}

            <h3>Previous events</h3>
            {{> widget_calendar_past}}

        </div>

    </div>

</div>

{{> widget_calendar_script}}
