<div class="container">
<div class="row">
<div class="col-md-6">
  <h1><img src="/img/hackws128transp.png"></img> at a glance</h1>

<h2>Next Event</h2>
  <p>When:  <b>August 15</b> 11am-4pm</p>
  <p>What:  Swipe Too - The Enswipening - We'll be looking more at making the CoffeeHack card reader project work</p>
  <p>Where: MAE Wimbledon</p>
  <p>You:   Signup at <a href="http://www.meetup.com/HackWimbledon/events/223886544/">Meetup</a></p>
  <br/>
  <H2>HackWimbledon News</H2>
  <ul>
    <li>We're in our new digs at MAE Wimbledon where <a href="http://wimbletech.com">Wimbletech</a> expanded into.
      The new room is bigger with ensuite coffee, beanbags and even a projector and screen! It's all still being
      brought up to speed but it's a great improvement for the group!</li>
    <li>Ongoing project - The CoffeeHack - We're working with RFID cards to drive an honesty box for coffee donations!
      Come along to a meeting to check it out.</li>
  </ul>


</div>

<div class="col-md-6">

          <a class="twitter-timeline"  href="https://twitter.com/HackWimbledon" data-widget-id="620996615239827457">Tweets by @HackWimbledon</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>
</div>
</div>
</div>
