<div class="container">
  <h1>HackWimbledon at a glance</h1>
  <img style="float:right" src="/img/hwlogo5-256.png"></img>
  <h2>HackWimbledon</h2>
  <p>Date</p>
  <p>Theme?</p>
  <p>Where</p>
  <p>Signup</p>
  <H2>HackWimbledon News</H2>
  <ul>
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
  </ul>
  <h2>Latest Tweets</h2>
  <p>Tweets here</p>
</div>
