<div class="container">
  <h1><img src="/img/hackws128transp.png"></img> at a glance</h1>

<h2>Next Event</h2>
  <p>Date</p>
  <p>Theme?</p>
  <p>Where</p>
  <p>Signup</p>
  <H2>HackWimbledon News</H2>
  <ul>
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
  </ul>
  <h2>Latest Tweets</h2>
  <p>Tweets here</p>
</div>
