<div class="container">
<div class="row">
<div class="col-md-6">
  <h1><img src="/img/hackws128transp.png"></img> at a glance</h1>

<h2>Next Event</h2>
  <p>Date</p>
  <p>Theme?</p>
  <p>Where</p>
  <p>Signup</p>
  <H2>HackWimbledon News</H2>
  <ul>
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
  </ul>


</div>

<div class="col-md-6">

          <a class="twitter-timeline"  href="https://twitter.com/HackWimbledon" data-widget-id="620996615239827457">Tweets by @HackWimbledon</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          
</div>
</div>
</div>
</div>

