<div class="container">
<h1>Projects</h1>
<h2>The Projects page is a work in progress on the website</h2>
<p>We plan to list details of group projects, who participated and what was
  created at as part of that project. In the past we've worked as a group on
  smart clock prototypes and RFID card reading to manage coffee fund donations.
</p>
</div>
