<div class="container">
  <div class="jumbotron">

    <div class="row">
      <div class="col-md-12">
        <h1>Welcome to HackWimbledon</h1>
      </div>
    </div>
    <div class="row">

      <div class="col-md-9">
        <p>HackWimbledon is a pop-up hack space for makers and creators that pops up every two weeks in Wimbledon at Wimbletech.
        </p>
        <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more about HackWimbledon</a></p>
      </div>
      <div class="col-md-3">
        <img class="img-responsive" src="/img/hackws256transp.png"></img>
      </div>
    </div>
  </div>
</div>
