.about-container .button {
    margin-bottom: 20px;
 }


/* Mobile */
@media(max-width:449px) {

    .about-container img {
        margin-top: 15px;
        margin-bottom: 15px;
     }

}


/* Small */
@media(min-width:450px) and (max-width:991px) {

}


/* Medium */
@media(min-width:992px) and (max-width:1199px) {

}


/* Large */
@media(min-width:1200px) {

}
