/* Mobile first - standard Bootstrap */

.events-wrapper .evt-calendar {
    margin-bottom: 20px;
    padding-bottom: 8px;
    padding-left: 0px;
    list-style-type:none;
 }

 .events-wrapper h3 {
     font-weight:700;
     color:#444;
     margin-top: 0px;
 }

.events-wrapper .upcoming, .events-wrapper .previous {
    float:left;
    width:100%;
}

.events-wrapper .evt-calendar .event-time {
    font-size: 1em;
}

.events-wrapper .evt-calendar .event-title {
    font-size: 1em;
    font-family: 'Lobster', cursive;
}

.events-wrapper .evt-calendar .event-description {
	margin-top: 5px;
}

.events-wrapper .upcoming .evt-calendar li, .events-wrapper .previous .evt-calendar li, .events-wrapper .current .evt-calendar li {
    margin-bottom:20px;
}

.events-wrapper .meetup-logo {
    height:0.8em;
    margin-top:-5px;
    margin-right:5px;
}

.events-wrapper .previous .evt-calendar .event-description {
    display: none;
}

.events-wrapper .current .evt-calendar .description-button {
    margin-top: 5px;
}


/* Mobile portrait only */
@media(max-width:399px) {

    .events-wrapper .current .evt-calendar .event-description, .events-wrapper .upcoming .evt-calendar .event-description {
        padding: 5px 15px;
        margin: 5px 0px;
        border-left: 5px solid #ccc;
        background-color: #FAFAFA
    }

}


/* Mobile Landscape and larger - non-standard Bootstrap breakpoint */
@media(min-width:400px) {

    .events-wrapper .current .evt-calendar .description-button {
        display: none;
    }

    .events-wrapper .current .evt-calendar .event-description, .events-wrapper .previous .evt-calendar .event-description {
        display: block;
    }

    .events-wrapper .evt-calendar {
        padding-left: 40px;
     }

    .events-wrapper .evt-calendar .event-time {
    	font-size:0.9em;
    	font-weight:800;
    }

    .events-wrapper .evt-calendar .event-title {
    	font-size: 1.5em;
    }

    .events-wrapper h3 {
        font-weight:900;
        width:100%;
    }

}


/* Small and larger - standard Boostrap breakpoint */
@media(min-width:768px) {

}


/* Medium and larger - standard Bootstrap breakpoint */
@media(min-width:992px) {

}


/* Large - standard Bootstrap breakpoint */
@media(min-width:1200px) {

}
