@media(max-width:767px){

  .jumbotron {
      background-image: url("/img/hwback.jpg");
      color: white;
      background-size: cover;
      background-position: center;
      text-shadow: 0px 2px 2px black;
	  padding-left: 10px;
	  padding-right: 10px;
    }
  .btn {
      white-space: normal;
	}  
}

/* Small */
@media(min-width:768px) and (max-width:991px){
  .jumbotron {
      background-image: url("/img/hwback.jpg");
      color: white;
      background-size: cover;
      background-position: center;
      text-shadow: 0px 2px 2px black;
    }
}

/* Medium */
@media(min-width:992px) and (max-width:1199px){
  .jumbotron {
      background-image: url("/img/hwback2.jpg");
      color: white;
      background-size: cover;
      background-position: center;
      text-shadow: 0px 2px 2px black;
    }
}

/* Large */
@media(min-width:1200px){.jumbotron {
    background-image: url("/img/hwback2.jpg");
    color: white;
    background-size: cover;
    background-position: center;
    text-shadow: 0px 2px 2px black;
  }
}

/*.jumbotron {
    background-image: url("/img/hwback2.jpg");
    color: white;
    background-size: cover;
    background-position: center;
    text-shadow: 0px 2px 2px black;
  }*/

.navbar-brand {
  font-family: 'Lobster', cursive;
}

h1 {
  font-family: 'Lobster', cursive;
}

h2 {
  font-family: 'Courier';
}

.brandname {
  font-family: 'Lobster', cursive;
  font-size: larger;
}
