.jumbotron {
    background-image: url("/img/hwback.jpg");
    color: white;
    background-size: cover;
    background-position: center;
    text-shadow: 0px 2px 2px black;
  }

.navbar-brand {
  font-family: 'Lobster', cursive;
}

h1 {
  font-family: 'Lobster', cursive;
}

h2 {
  font-family: 'Courier';
}
