/* Mobile first - standard Bootstrap */

.about-container .button {
    margin-bottom: 20px;
 }

 .about-container img {
     margin-top: 15px;
     margin-bottom: 15px;
  }


/* Mobile Landscape and larger - non-standard Bootstrap breakpoint */
@media(min-width:400px) {

    .about-container img {
        margin-top: 0px;
        margin-bottom: 0px;
     }

}


/* Small and larger - standard Boostrap breakpoint */
@media(min-width:768px) {
}


/* Medium and larger - standard Bootstrap breakpoint */
@media(min-width:992px) {
}


/* Large - standard Bootstrap breakpoint */
@media(min-width:1200px) {

}
