<div class="container">

	<div class="row>"

		<div class="col-md-12">

			<h3>{{ title }}</h3>
			
			<hr>

			<p>
				Sorry, the page you asked for is not there.
			</p>
			<p>
				If you think there is a broken link in the website, please let <a href="http://twitter.com.codepope">@codepope</a> know about it.
			</p>
			<br>
			<p>
				<a class="btn btn-primary btn-lg" href="/home" role="button">Return to home page</a>
			</p>

		</div>

	</div>

</div>
