<div class="container">

    <div class="row">

        <div class="col-md-12">

            <h1><img src="/img/hackws128transp.png"></img> at a glance</h1>

        </div>

    </div>

    <div class="row">

            <div class="col-md-6">

            <h2>Next Event</h2>

                <div class="events-wrapper">

                    {{> widget_calendar_current}}

                </div>

        </div>

        <div class="col-md-6">

            <H2>HackWimbledon News</H2>

            <div class="well">
                Having celebrated our one hundred and twenty eighth HackWimbledon, we're going for the full
                256!  
            </div>

            <div class="well">
                No ongoing project: Got an idea you'd like to bring to life? Join in.
            </div>

            <a class="twitter-timeline"  href="https://twitter.com/HackWimbledon" data-widget-id="620996615239827457">Tweets by @HackWimbledon</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

        </div>

    </div>

</div>

{{> widget_calendar_script}}
